
\.vscode/settings\.json

\.ipynb_checkpoints/

\mlruns

\.idea

*.pyc

Untitled.ipynb

best.pt

GeNVI.ipynb

Experiments/datasets.ipynb

Experiments/datasets.py


Experiments/kin8nm/kin8nm.csv

Experiments/concrete/concrete.csv


*.csv

/Experiments/navalpropulsion/
